<header class="header">
  <div class="title">Currency Converter</div>
  <section class="currencies">
    <div class="currency">
      <img src="./assets/usd.png" alt="usd" class="currency__logo">
      <div class="currency__info">
        <div class="currency__title">USD</div>
        <div class="currency__rate">{{usdToUah}}</div>
      </div>
    </div>
    <div class="currency">
      <img src="./assets/eur.png" alt="eur" class="currency__logo">
      <div class="currency__info">
        <div class="currency__title">EUR</div>
        <div class="currency__rate">{{eurToUah}}</div>
      </div>
    </div>
  </section>
</header>
