.header
  display: flex
  align-items: center
  justify-content: center
  border-bottom: 2px solid rgba(46, 94, 166, 0.32)
  box-shadow: 0 1px 10px 3px rgba(46,94,166,0.3)

.title
  font-size: 2rem
  font-weight: 600
  margin: .5rem auto


.currencies
  position: absolute
  display: flex
  right: 3rem


.currency__item
  display: flex
  margin: 0 .5rem

.currency__logo
  width: 35px
  height: 35px

.currency__info
  display: flex
  flex-direction: column
  justify-content: center
  padding: 0 .3rem
  font-weight: 600

.currency__title
  color: #2E5EA6
